/* VARIABLES */

:root {
    --color-principal: #222831;
    --color-secundario: #393e46;
    --color-terciario: #00adb5;
    --blanco: #eeeeee;
}

/* ESTILOS GENERALES */

::selection {
    color: var(--blanco);
    background: var(--color-terciario);
}

html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    max-height: 100vh;
    font-family: "Open Sans", "sans-serif";
    font-weight: bold;
}

.color-terciario {
    color: var(--color-terciario);
}

/* ENCABEZADO Y MENU */
#encabezado {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: var(--color-principal);
}

#menu-navegacion {
    padding: 30px 200px 0px 200px;
}

#lista-navegacion {
    display: flex;
    list-style: none;
    width: 100%;
}

#menu-navegacion a {
    text-decoration: none;
    color: var(--blanco);
    transition: 0.3s;
}

#menu-navegacion a:hover {
    color: var(--color-terciario);
    transform: scale(1.1);
    transition: 0.3s;
}

#menu-navegacion li {
    padding: 20px 30px;
}

#menu-navegacion li:last-of-type {
    padding-right: unset;
}

/* CONTENIDO */

.contenedor {
    width: 100%;
    height: 100vh;
    padding: 0px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-principal);
}

#informacion-personal {
    color: var(--blanco);
}

#titulo {
    font-weight: normal;
    font-size: 30px;
    margin: 0;
}

#nombre {
    margin: 0;
    font-size: 40px;
}

#subtitulo {
    font-size: 20px;
    margin-top: 10px;
    text-decoration: underline;
    text-decoration-color: var(--color-terciario);
}

#descripcion {
    margin-top: 20px;
    width: 80%;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
}

.iconos {
    width: 100%;
    margin-top: 25px;   
    display: flex;
    gap: 20px;
}

.iconos a {
    color: var(--blanco);
    transition: 0.3s;
}

.iconos a:hover {
    color: var(--color-terciario);
    transition: 0.3s;
}

.iconos li {
    list-style: none;
}

#circulo-foto{
    height:300px;
    max-width:650px;
    text-align: center;
 }
 #foto-perfil{
    width: 300px;
    height: 300px;
    display: inline-block;
    border-radius: 50%;
    background-image: url(https://imagizer.imageshack.com/img923/9665/fky7w9.jpg);
    background-size: cover;
    background-position: center;
 }

@media (max-width: 970px) {
    #encabezado{
        position: relative;
        display: block;
        background: var(--color-secundario);
    }

    #menu-navegacion {
        padding: 20px 0px;
    }

    #lista-navegacion {
        flex-direction: column;
        align-items: center;
    }

    #menu-navegacion li{
        padding: unset;
    }

    #menu-navegacion a{
        padding: 10px 0px;
    }

    .contenedor{
        flex-direction: column;
        height: max-content;
        padding: 30px 30px 0px 30px;
    }

    #descripcion{
        width: 100%;
    }

    #circulo-foto{
        margin: 50px 0px 25px 0px;
    }
}
