@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

/* VARIABLES */

:root {
    --color-principal: #222831;
    --color-secundario: #393e46;
    --color-terciario: #00adb5;
    --blanco: #eeeeee;
}

/* ESTILOS GENERALES */

::selection {
    color: var(--blanco);
    background: var(--color-terciario);
}

html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    max-height: 100vh;
    font-family: "Open Sans", "sans-serif";
    font-weight: bold;
}

.color-terciario {
    color: var(--color-terciario);
}

/* ENCABEZADO Y MENU */
#encabezado {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: var(--color-principal);
}

#menu-navegacion {
    padding: 50px 100px;
}

#lista-navegacion {
    display: flex;
    list-style: none;
    width: 100%;
}

#menu-navegacion a {
    text-decoration: none;
    color: var(--blanco);
    transition: 0.3s;
}

#menu-navegacion a:hover {
    color: var(--color-terciario);
    transform: scale(1.1);
    transition: 0.3s;
}

#menu-navegacion li {
    padding: 20px;
}

/* CONTENIDO */

.contenedor {
    max-width: 100%;
    margin-bottom: 20px;
}

#contenedor1 {
    background: var(--color-principal);
}

#contenido-principal {
    height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#informacion-personal {
    color: var(--blanco);
    max-width: 80%;
}

#titulo {
    font-size: 30px;
    padding: 5px 0;
}

#nombre {
    font-size: 50px;
    padding: 5px 0;
}

#subtitulo {
    display: inline;
    font-size: 20px;
    padding: 5px 0;
    text-decoration: underline;
    text-decoration-color: var(--color-terciario);
    text-decoration-thickness: 3px;
}

#descripcion {
    padding: 5px 0;
    width: 90%;
    margin-top: 20px;
    font-size: 18px;
    line-height: 30px;
}

.iconos {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
}

.iconos a {
    color: var(--blanco);
    transition: 0.3s;
}

.iconos a:hover {
    color: var(--color-terciario);
    transition: 0.3s;
}

.iconos li {
    list-style: none;
}

#foto-perfil img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 700px) {
    #menu-navegacion {
        width: 100%;
        position: relative;
        right: unset;
        top: 10px;
        text-align: center;
        padding-right: unset;
    }

    #lista-navegacion {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #lista-navegacion a {
        display: inline;
        margin: 0 auto;
    }

    #lista-navegacion a li {
        text-decoration: underline;
    }

    #contenido-principal {
        height: auto;
        margin-top: 30px;
        flex-direction: column;
    }

    #descripcion {
        width: 100%;
    }

    #foto-perfil {
        margin-bottom: 30px;
    }
}
